@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap');

.landingPage{
    /* height: 100vh; */
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    position:relative;
}

/* **************************** welcome statment ******************** */
.landingPageWrapper{
    background-color: black;
    height:auto;
    /* height: 400px;
    margin: 3rem; 
    overflow: hidden;
    text-align: center; */
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

.text_welcome_wrapper{
    position: relative;
    background-color: transparent;
    height:400px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    
    /* position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;
    height:auto;
    width:800px;
     */
}

.text_welcome_wrapper p:nth-child(1){
    color:transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    font-size:220px;
}

.text_welcome_wrapper p:nth-child(2) {
    color: white;
    font-size:220px;
    animation: wave 1.8s ease-in 1;
}
  
.text_welcome_wrapper p {
    background-color: transparent;
    display: inline-block;
    text-transform: uppercase;
    position: absolute;
    font-size: 2em;
    margin:0px
 }

 .arrow{
   background-color: black;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .arrow_wrapper{
   background-color: transparent;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   cursor: pointer;
   
 }

 .containerArrow{
    height: 10px;
    background-color: transparent;
 }
 .rightArrow{
    animation: arrowLightRight 2s linear forwards;
    border-radius: 50px;
 }
 .leftArrow{
    animation: arrowLightLeft 2s ease-in-out infinite;
    border-radius: 50px;
 }
  @keyframes arrowLightRight{
      0%{
          width:0%;
          height: 100%;
          background-color: white;    
      }
      100%{
          width:100%;
          height: 100%;
          background-color: white;
      }
  }

  @keyframes arrowLightLeft{
    0%,100%{
        height: 100%;
        background-color: white;
        clip-path: polygon(0 45%, 6% 38%, 20% 27%, 
                    38% 24%, 40% 47%, 49% 64%, 51% 72%, 
                    74% 78%, 79% 75%, 100% 67%, 100% 100%, 
                    0 100%);
    }
    50%{  
        height: 100%;
        background-color: white; 
        clip-path: polygon(0 59%, 5% 71%, 24% 86%, 
                    34% 71%, 41% 64%, 41% 46%, 51% 35%, 
                    74% 21%, 89% 35%, 100% 42%, 100% 100%, 
                    0 100%);
    }
} 
 
.suspends{
    display: inline-block;
    animation: bounce 1.2s 2.5s ease-out forwards, flicker 1.5s 2s ease-out forwards;
}

/* Media screen for width*/
@media screen  and (max-width:1300px){
  .text_welcome_wrapper{
    height:320px;
  }
  .text_welcome_wrapper p:nth-child(1){
    color:transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    font-size:180px;
  }

  .text_welcome_wrapper p:nth-child(2) {
    color: white;
    font-size:180px;
    animation: wave 1.8s ease-in 1;
  }
  .containerArrow{
    height: 8px;
    background-color: transparent;
  }  
}

@media screen  and (max-width:1000px){
  .text_welcome_wrapper{
    height:220px;
  }
  .text_welcome_wrapper p:nth-child(1){
    color:transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    font-size:100px;
  }

  .text_welcome_wrapper p:nth-child(2) {
    color: white;
    font-size:100px;
    animation: wave 1.8s ease-in 1;
  }
  .containerArrow{
    height: 7px;
    background-color: transparent;
  }  
}

@media screen  and (max-width:900px){
  .text_welcome_wrapper{
    height:160px;
  }
  .text_welcome_wrapper p:nth-child(1){
    color:transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    font-size:80px;
  }

  .text_welcome_wrapper p:nth-child(2) {
    color: white;
    font-size:80px;
    animation: wave 1.8s ease-in 1;
  }
  .containerArrow{
    height: 6px;
    background-color: transparent;
  }  
}

@media screen  and (max-width:700px){
  .text_welcome_wrapper{
    height:100px;
  }
  .text_welcome_wrapper p:nth-child(1){
    color:transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    font-size:60px;
  }

  .text_welcome_wrapper p:nth-child(2) {
    color: white;
    font-size:60px;
    animation: wave 1.8s ease-in 1;
  }
  .containerArrow{
    height: 6px;
    background-color: transparent;
  }  
}

@media screen  and (max-width:500px){
  .text_welcome_wrapper{
    height:80px;
  }
  .text_welcome_wrapper p:nth-child(1){
    color:transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    font-size:40px;
  }

  .text_welcome_wrapper p:nth-child(2) {
    color: white;
    font-size:40px;
    animation: wave 1.8s ease-in 1;
  }
  .containerArrow{
    height: 6px;
    background-color: transparent;
  }  
}

/* end of media screen for width */

/* media screen for height */

/* @media screen  and (max-height:200px){
  .landingPage{
    height:500px;
    background-color: aqua;
  }
}  */



/* media screen for height */

/* @media screen  and (max-width:1100px){
    .text_welcome_wrapper{
        background-color: transparent;
        height:500px;
    }
    .text_welcome_wrapper p:nth-child(1){
    color:transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    font-size:170px;
    }

    .text_welcome_wrapper p:nth-child(2) {
    color: white;
    font-size:170px;
    animation: wave 1.8s ease-in 1;
    }   
}

@media screen  and (max-width:1100px){
    .text_welcome_wrapper{
        background-color: transparent;
        height:500px;
    }
    .text_welcome_wrapper p:nth-child(1){
    color:transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    font-size:150px;
    }

    .text_welcome_wrapper p:nth-child(2) {
    color: white;
    font-size:150px;
    animation: wave 1.8s ease-in 1;
    }   
}

@media screen  and (max-width:1000px){
    .text_welcome_wrapper{
        background-color: transparent;
        height:500px;
    }
    .text_welcome_wrapper p:nth-child(1){
    color:transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    font-size:110px;
    }

    .text_welcome_wrapper p:nth-child(2) {
    color: white;
    font-size:110px;
    animation: wave 1.8s ease-in 1;
    }   
}

@media screen  and (max-width:800px){
    .landingPageWrapper{
        height:400px;
    }
    .text_welcome_wrapper{
        background-color: transparent;
        height:400px;
    }
    .text_welcome_wrapper p:nth-child(1){
    color:transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    font-size:80px;
    }

    .text_welcome_wrapper p:nth-child(2) {
    color: white;
    font-size:80px;
    animation: wave 1.8s ease-in 1;
    }  
}
@media screen  and (max-width:560px){
    .landingPageWrapper{
        height:300px;
    }
    .text_welcome_wrapper{
        background-color: transparent;
        height:300px;
    }
    .text_welcome_wrapper p:nth-child(1){
    color:transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    font-size:80px;
    }

    .text_welcome_wrapper p:nth-child(2) {
    color: white;
    font-size:80px;
    animation: wave 1.8s ease-in 1;
    }   
}

@media screen  and (max-width:470px){
    .landingPageWrapper{
        height:200px;
    }
    .text_welcome_wrapper{
        height:200px;
    }
    .text_welcome_wrapper p:nth-child(1){
    color:transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    font-size:60px;
    }

    .text_welcome_wrapper p:nth-child(2) {
    color: white;
    font-size:60px;
    animation: wave 1.8s ease-in 1;
    } 
    
    
} */

@keyframes wave{
    0%{
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }
    50%{
        clip-path: polygon(0 0, 61% 0, 42% 100%, 0% 100%);
    }
    
    100%{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }   
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px) ;
            transform: translateY(0px) ;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95%{
      -webkit-transform: translateY(0px) ;
            transform: translateY(0px) ;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(30%) translateX(30%)  rotate(50deg);
            transform: translateY(30%) translateX(30%)  rotate(50deg);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    
  }
}

@keyframes flicker {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
}

@keyframes glowing{
     0% {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.25);
     }
  20.1% {
    
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  30% {
    
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.25);
  }
  30.1% {
    
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.25);
  }
  45% {
    
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.25);
  }
  45.1% {
    
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.25);
  }
  57% {
    
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.25);
  }
  57.1% {
    
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.25);
  }
  65% {
    
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.25);
  }
  65.1% {
    
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
   
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.25);
  }
  77% {
   
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.25);
  }
  77.1% {
   
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {

    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.25);
  }
  86% {
    
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.25);
  }
  86.1% {
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
}
/* ****************************End of welcome statment ******************** */

/* ****************************Arrow going down ******************** */
/* .arrow{

    height: 220px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:.5rem;
}

.arrow_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: pink;
    cursor:pointer; 
    height: 100%;
  
}
.containerArrow{
       height: 10px;
}
.rightArrow{
    animation: arrowLightRight 2s linear forwards;
    border-radius: 50px;
   
}
.leftArrow{
    animation: arrowLightLeft 2s ease-in-out infinite;
    border-radius: 50px;
} */
/* @media screen  and (max-width:300px){
  .containerArrow{
       height: 2px;
       background-color: yellow;
  }
} */

/* @keyframes arrowLightRight{
    0%{
        width:0%;
        height: 100%;
        background-color: white;    
    }
    100%{
        width:100%;
        height: 100%;
        background-color: white;
    }
}

@keyframes arrowLightLeft{
    0%,100%{
        height: 100%;
        background-color: white;
        clip-path: polygon(0 45%, 6% 38%, 20% 27%, 
                    38% 24%, 40% 47%, 49% 64%, 51% 72%, 
                    74% 78%, 79% 75%, 100% 67%, 100% 100%, 
                    0 100%);
    }
    50%{  
        height: 100%;
        background-color: white; 
        clip-path: polygon(0 59%, 5% 71%, 24% 86%, 
                    34% 71%, 41% 64%, 41% 46%, 51% 35%, 
                    74% 21%, 89% 35%, 100% 42%, 100% 100%, 
                    0 100%);
    }
} */
/* **************************** End Arrow going down ******************** */

