.homepage_main_wrapper{
    /* margin-top:1rem; */
    background-color: red;
    height:100vh;
}

.homepage_main{
    background-color: pink;
    height:100%;
}
.homepage_navbarHolder{
    background-color: yellow;
    height:10vh;
}
.homepage_contentHolder{
    background-color: orange;
    height:90vh;
    display: flex;
}
.homepage_triangleHolder{
    background-color: green;
    width: 60%;
    height:100%;
}
.homepage_textHolder{
    background-color: royalblue;
    width: 30%;
    height:100%;
}
.homepage_paginationHolder{
    background-color: teal;
    width: 10%;
    height:100%;
}